html {
    background-color: black;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 40px;
    font-family: monospace;
    font-weight: 1000;
    text-align: center;
    padding: 30px 0;
}

#score {
    height: 20vh;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
}

#selections {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0px 0px 12px white;
}

#results {
    height: 50vh;
    text-align: center;
    font-size: 20px;
    color: white;
}

#results p {
    padding: 10px;
}